{% extends 'base.html' %}
{% load static %}

{% block title %}
  My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}


{% block content %}

  <section id="welcome">
    <header>
      <img src="{% static "blog/images/hj.jpg" %}" alt="Harsh - Author of this Blog" />
      <h2>HARSH'S BLOG</h2>
    </header>
    <p>Hi, I am Harsh and I love to blog about tech, habbits and the brain world!</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
      {% for post in posts %}
      {% include "blog/includes/post.html" %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I do</h2>
    <p>I love Programming, I love to help others and I enjoy exploring new technologies in genereal!!</p>
    <p>
        My goal is to keep on growing as a developer - and if I could help you do the same, I'd be very happy!    
    </p>
</section>
{% endblock %}
